<div class="px-4 mt-36">
  <div class="max-w-4xl xl:min-w-sm mx-auto">
    <div class="mb-7">
      <h2 class="text-xl">Your Details</h2>
    </div>
    <div class="grid grid-cols-1 xl:grid-cols-2 gap-x-8 gap-y-10">
      <div class="relative">
        <span class="absolute -top-2 left-4 bg-white px-1.5 text-xs font-medium">First Name</span>
        <p class="block w-full px-4 py-3 h-10 text-sm bg-transparent rounded-md outline-1 -outline-offset-1 outline-slate-500">
          <%= @user.first_name %>
        </p>
      </div>
      <div class="relative">
        <span class="absolute -top-2 left-4 bg-white px-1.5 text-xs font-medium">Last Name</span>
        <p class="block w-full px-4 py-3 h-10 text-sm bg-transparent rounded-md outline-1 -outline-offset-1 outline-slate-500">
          <%= @user.last_name %>
        </p>
      </div>
      <div class="relative">
        <span class="absolute -top-2 left-4 bg-white px-1.5 text-xs font-medium">Email address</span>
        <p class="block w-full px-4 py-3 h-10 text-sm bg-transparent rounded-md outline-1 -outline-offset-1 outline-slate-500">
          <%= @user.email %>
        </p>
      </div>
      <div class="relative">
        <span class="absolute -top-2 left-4 bg-white px-1.5 text-xs font-medium">Phone Number</span>
        <p class="block w-full px-4 py-3 h-10 text-sm bg-transparent rounded-md outline-1 -outline-offset-1 outline-slate-500">
          <%= @user.phone.presence %>
        </p>
      </div>
      <div class="relative">
        <span class="absolute -top-2 left-4 bg-white px-1.5 text-xs font-medium">State</span>
        <p class="block w-full px-4 py-3 h-10 text-sm bg-transparent rounded-md outline-1 -outline-offset-1 outline-slate-500">
          <%= @user.state.presence %>
        </p>
      </div>
      <div class="relative">
        <span class="absolute -top-2 left-4 bg-white px-1.5 text-xs font-medium">City</span>
        <p class="block w-full px-4 py-3 h-10 text-sm bg-transparent rounded-md outline-1 -outline-offset-1 outline-slate-500">
          <%= @user.city.presence %>
        </p>
      </div>
      <div class="relative">
        <span class="absolute -top-2 left-4 bg-white px-1.5 text-xs font-medium">Address</span>
        <p class="block w-full px-4 py-3 h-10 text-sm bg-transparent rounded-md outline-1 -outline-offset-1 outline-slate-500">
          <%= @user.street.presence %>
        </p>
      </div>
      <div class="col-span-full flex justify-end">
        <%= link_to "Edit", edit_user_path(@user), class: "py-2 px-3.5 text-sm rounded-md font-semibold tracking-wide text-white border border-blue-600 bg-blue-600 hover:bg-blue-700 transition-all focus:outline-none focus-visible:ring-2 focus-visible:ring-blue-500" %>
      </div>
    </div>
  </div>
</div>