<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Ticket Board" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Ticket Board">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= yield :head %>
    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <%= render "devise/shared/flash_messages" %>
    <div >
      <% if user_signed_in? %>
        <section>
          <nav class="fixed top-0 left-0 right-0 z-100 bg-white shadow-sm">
            <div class="flex flex-wrap items-center gap-3 px-3 py-3 sm:px-6 lg:px-10">
              <!-- Logo -->
              <div class="flex shrink-0 items-center gap-2 sm:gap-3">
                <%= link_to "Ticket Board",root_path, class:"text-sm font-semibold text-slate-900 sm:text-lg" %>
              </div>
              <!-- Search Bar -->
              <div class="hidden sm:block order-3 w-full sm:order-none sm:flex-1">
                <div class="relative w-full max-w-xl sm:mx-auto">
                  <svg class="absolute left-3 top-1/2 h-4 w-4 -translate-y-1/2 text-slate-500" fill="none" stroke="currentColor" viewBox="0 0 24 24"> <circle cx="11" cy="11" r="8"/><path d="m21 21-4.35-4.35"/> </svg>
                  <input type="text"placeholder="Search..."class="w-full rounded-2xl border border-gray-200 bg-white py-2 pl-9 pr-3 text-sm  focus:outline-none focus:ring-2 focus:ring-blue-500"/>
                </div>
              </div>
              <!-- Buttons -->
              <div class="ml-auto flex shrink-0 items-center gap-2 sm:gap-4">
                <%= link_to "Project", new_project_path, data: { turbo_frame: "modal" }, class:"rounded-2xl border border-slate-300 bg-white px-3 py-2 text-sm font-semibold text-slate-900 hover:bg-slate-50 sm:px-4 lg:px-5" %>
                <%= link_to "Create", new_task_path, data: { turbo_frame: "modal" }, class:"rounded-2xl bg-blue-600 px-3 py-2 text-sm font-semibold text-white hover:bg-blue-700 sm:px-4 lg:px-5" %>
              </div>
              <!--DropDown-->
              <div data-controller="dropdown" class="relative flex ">
                <button data-dropdown-target="button" data-action="click->dropdown#toggle" class="rounded-md focus:outline-none">
                  <% if current_user.avatar.attached? && current_user.avatar.blob&.persisted? %>
                    <%= image_tag url_for(current_user.avatar), class: "w-8 h-8 rounded-full object-cover" %>
                  <% else %>
                    <%= image_tag "default_avatar.jpg", class: "w-8 h-8 rounded-full object-cover" %>
                  <% end %>
                </button>
                <div data-dropdown-target="menu" class="hidden absolute top-16 right-0 w-[270px] bg-white rounded-md shadow-lg z-10">
                  <p class="block px-4 py-2 hover:bg-gray-100 hover:rounded-md"> <%= current_user&.first_name.presence || current_user&.email %> </p>
                  <%= link_to "Profile", user_path(current_user), class:"block px-4 py-2 hover:bg-gray-100 hover:rounded-md"%>
                  <a href="#" class="block px-4 py-2 hover:bg-gray-100 hover:rounded-md">Settings</a>
                  <hr class="border-t border-gray-200">
                  <%= link_to "Sign out",destroy_user_session_path,data: { turbo_method: :delete },class: "block px-4 py-2 text-red-500 hover:bg-red-100 hover:rounded-md"%>
                </div>
              </div>
            </div>
          </nav>
        </section>
        <!--sidebar-->
        <section >
          <div data-controller="sidebar">
            <aside data-sidebar-target="panel" class="fixed top-10 left-0 z-50 w-[235px] h-screen bg-white border-r border-slate-300 shadow-md transition-transform duration-300 ease-in-out py-6 px-4">
              <ul class="py-2 text-sm font-medium">
                <li>
                  <%= link_to "#", class: "flex items-center gap-2.5 px-3 py-3 hover:bg-slate-100 rounded-lg transition-all" do %>
                    <svg xmlns="http://www.w3.org/2000/svg" class="size-[18px] shrink-0 fill-current overflow-hidden" viewBox="0 0 512 512" aria-hidden="true">
                      <path d="M426 495.983H86c-25.364 0-46-20.635-46-46v-242.02c0-8.836 7.163-16 16-16s16 7.164 16 16v242.02c0 7.72 6.28 14 14 14h340c7.72 0 14-6.28 14-14v-242.02c0-8.836 7.163-16 16-16s16 7.164 16 16v242.02c0 25.364-20.635 46-46 46" />
                      <path d="M496 263.958a15.95 15.95 0 0 1-11.313-4.687L285.698 60.284c-16.375-16.376-43.02-16.376-59.396 0L27.314 259.272c-6.248 6.249-16.379 6.249-22.627 0-6.249-6.248-6.249-16.379 0-22.627L203.675 37.656c28.852-28.852 75.799-28.852 104.65 0l198.988 198.988c6.249 6.249 6.249 16.379 0 22.627A15.94 15.94 0 0 1 496 263.958M320 495.983H192c-8.837 0-16-7.164-16-16v-142c0-27.57 22.43-50 50-50h60c27.57 0 50 22.43 50 50v142c0 8.836-7.163 16-16 16m-112-32h96v-126c0-9.925-8.075-18-18-18h-60c-9.925 0-18 8.075-18 18z" />
                    </svg>
                    <span data-sidebar-target="label">Dashboard</span>
                  <% end %>
                </li>
                <li>
                  <%= link_to new_workspace_path, data: { turbo_frame: "modal" }, class: "flex items-center gap-2.5 px-3 py-3 hover:bg-slate-100 rounded-lg transition-all" do %>
                    <svg xmlns="http://www.w3.org/2000/svg" class="size-[18px] fill-current overflow-visible" viewBox="0 0 28 28" aria-hidden="true"> <g>
                        <path d="M20 26H8c-3.3 0-6-2.7-6-6V8c0-3.3 2.7-6 6-6h12c3.3 0 6 2.7 6 6v12c0 3.3-2.7 6-6 6M8 4C5.8 4 4 5.8 4 8v12c0 2.2 1.8 4 4 4h12c2.2 0 4-1.8 4-4V8c0-2.2-1.8-4-4-4zm6 16c-.6 0-1-.4-1-1v-4H9c-.6 0-1-.4-1-1s.4-1 1-1h4V9c0-.6.4-1 1-1s1 .4 1 1v4h4c.6 0 1 .4 1 1s-.4 1-1 1h-4v4c0 .6-.4 1-1 1" data-original="#000000" /> </g>
                    </svg>
                    <span data-sidebar-target="label">Workspace</span>
                  <% end %>
                </li>
                <li data-controller="dropdown" class="relative">
                  <div class="flex items-center justify-between px-3 py-3 hover:bg-slate-100 rounded-lg transition-all group">
                    <%= link_to boards_path, class: "flex items-center gap-2.5 flex-1 min-w-0" do %>
                      <svg xmlns="http://www.w3.org/2000/svg" class="size-[18px] shrink-0 fill-current overflow-hidden" viewBox="0 0 64 64" aria-hidden="true">
                        <path fill-rule="evenodd" d="M14.6 6.688c-7.29 0-13.2 5.862-13.2 13.092V41.6c0 7.23 5.91 13.092 13.2 13.092h24.2a2.2 2.182 0 1 0 0-4.364H14.6A8.8 8.728 0 0 1 5.8 41.6V24.144h52.8v7.637a2.2 2.182 0 1 0 4.4 0V19.78c0-7.23-5.91-13.092-13.2-13.092zm44 13.092H5.8a8.8 8.728 0 0 1 8.8-8.728h35.2a8.8 8.728 0 0 1 8.8 8.728" clip-rule="evenodd" />
                        <path d="M63 45.964a8.8 8.728 0 0 0-8.8-8.728H38.8a2.2 2.182 0 1 0 0 4.364h15.4a4.4 4.364 0 0 1 0 8.728h-1.84l.645-.64a2.2 2.182 0 1 0-3.11-3.085l-4.4 4.364a2.2 2.182 0 0 0 0 3.085l4.4 4.364a2.2 2.182 0 1 0 3.11-3.085l-.644-.64H54.2a8.8 8.728 0 0 0 8.8-8.727M12.4 28.508a2.2 2.182 0 1 0 0 4.364h8.8a2.2 2.182 0 1 0 0-4.364z" />
                      </svg>
                      <span data-sidebar-target="label">Kanban board</span>
                    <% end %>
                    <!-- Chevron triggers your existing toggle -->
                    <button data-action="click->dropdown#toggle" class="ml-1 p-0.5 rounded group-hover:opacity-80 transition-opacity " aria-label="Board options">
                      <svg class="size-4" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"><path stroke-linecap="round" stroke-linejoin="round" d="m19 9-7 7-7-7" /></svg>
                    </button>
                  </div>
                  <ul data-dropdown-target="menu" class="hidden mt-0.5 ml-4 space-y-0.5 pl-3">
                    <li>
                      <%= link_to new_board_path, data: { turbo_frame: "modal" }, class: "flex items-center gap-2 px-2 py-2 text-sm hover:bg-slate-100 rounded-md transition-all w-full" do %>
                        <svg class="size-4 shrink-0" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"><path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
                        </svg>
                        <span data-sidebar-target="label">Create board</span>
                      <% end %>
                    </li>
                  </ul>
                </li>
                <li>
                  <%= link_to user_path(current_user), class: "flex items-center gap-2.5 px-3 py-3 hover:bg-slate-100 rounded-lg transition-all" do %>
                    <svg xmlns="http://www.w3.org/2000/svg" class="size-[18px] shrink-0 fill-current overflow-hidden" viewBox="0 0 512 512" aria-hidden="true">
                      <path d="M253.414 103.434c48.556 0 87.919 40.52 87.919 90.505s-39.363 90.505-87.919 90.505-87.919-40.521-87.919-90.505 39.363-90.505 87.919-90.505m0 36.202c-28.324 0-51.717 24.081-51.717 54.303s23.393 54.303 51.717 54.303 51.717-24.081 51.717-54.303-23.393-54.303-51.717-54.303" />
                      <path d="M253.414 0c139.957 0 253.414 113.457 253.414 253.414 0 94.285-51.491 176.544-127.886 220.19-35.728 20.575-77.036 32.582-121.104 33.199l-4.423.025C113.457 506.828 0 393.371 0 253.414S113.457 0 253.414 0m-23.676 346.505c-46.331 0-87.479 29.378-102.607 73.008l-2.339 7.571c35.919 27.232 80.165 42.893 126.504 43.522l5.709-.009c38.24-.62 74.079-11.122 105.072-29.064l19.977-13.243-2.237-6.866c-14.371-44.046-55.062-74.052-101.239-74.901zm23.676-310.303c-119.963 0-217.212 97.249-217.212 217.212 0 57.493 22.337 109.77 58.807 148.624 21.668-55.072 74.965-91.735 134.73-91.735h46.831c59.905 0 113.311 36.835 134.885 92.121 36.686-38.892 59.172-91.325 59.172-149.01-.001-119.963-97.25-217.212-217.213-217.212" />
                    </svg>
                    <span data-sidebar-target="label">Profile</span>
                  <% end %>
                </li>
                <li>
                  <%= link_to edit_user_path(current_user), class: "flex items-center gap-2.5 px-3 py-3 hover:bg-slate-100 rounded-lg transition-all" do %>
                    <svg xmlns="http://www.w3.org/2000/svg" class="size-[18px] shrink-0 fill-current overflow-hidden" viewBox="0 0 32 32" aria-hidden="true">
                      <g data-name="Layer 2">
                        <path d="M24.915 3.663a3.15 3.15 0 0 0-2.688-1.554H9.774a3.15 3.15 0 0 0-2.688 1.554L.859 14.446a3.15 3.15 0 0 0 0 3.15l6.227 10.742a3.15 3.15 0 0 0 2.688 1.554h12.453a3.15 3.15 0 0 0 2.688-1.554l6.226-10.784a3.15 3.15 0 0 0 0-3.15zm4.41 12.841-6.227 10.784a1.05 1.05 0 0 1-.871.504H9.774a1.05 1.05 0 0 1-.872-.504L2.676 16.504a1.05 1.05 0 0 1 0-1.05L8.902 4.713a1.05 1.05 0 0 1 .872-.504h12.453a1.05 1.05 0 0 1 .871.504l6.227 10.783a1.05 1.05 0 0 1 0 1.008" />
                        <path d="M16 9.7a6.3 6.3 0 1 0 6.3 6.3A6.3 6.3 0 0 0 16 9.7m0 10.5a4.2 4.2 0 1 1 4.2-4.2 4.2 4.2 0 0 1-4.2 4.2" />
                      </g>
                    </svg>
                    <span data-sidebar-target="lable">Setting</span>
                  <% end %>
                </li>
              </ul>
              <!-- Toggle button anchored to the right edge of the sidebar -->
              <button data-action="click->sidebar#toggle" data-sidebar-target="toggle"
                class="absolute -right-4  mt-2 top-6 z-50 h-8 w-8 flex items-center justify-center border border-slate-300 rounded-full bg-white shadow-md">
                <svg data-sidebar-target="icon" xmlns="http://www.w3.org/2000/svg" class="w-3.5 h-3.5 transition-all duration-300 ease-in-out" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7" />
                </svg>
              </button>
            </aside>
          </div>
        </section>
      <%end%>
      <main class="flex-1">
        <%= yield %>
      </main>
      <%= turbo_frame_tag "modal" %>
    </div>
  </body>
</html>
